@import "tailwindcss";

@layer utilities {
  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-slide-down {
    animation: slide-down 0.3s ease-out;
  }
}
* {
  transition: 0.2s ease;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: auto;
}
input,
textarea {
  outline: 0;
}
main {
  position: relative;
}

#lenis-wrapper {
  height: 100%;
  overflow: hidden; /* important for Lenis */
}

#lenis-content {
  min-height: 100%;
  will-change: transform;
}

body {
  height: 100%;
  color: #3f454c;
  line-height: 1.6;
  position: relative;
  transform: none !important;
  will-change: auto;
  overflow: auto;
}
main {
  padding-top: 80px;
}

a {
  color: inherit;
  text-decoration: none;
}
.container {
  padding: 0 16px;
  margin: 0 auto;
  max-width: 1320px;
}
.header {
  background-color: #f6f4f5;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  .wrap {
    width: 160px;
    height: 32px;
  }
  .navbar ul {
    font-size: 17px;
    color: #3f454c;
    font-weight: 500;
    li a {
      display: inline-block;
      padding: 0 5px;
      position: relative;
    }
    li a:before {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0px;
      height: 3px;
      background-color: #3f454c;
      transition: width 0.3s ease;
    }
    li a:hover:before {
      width: 100%;
    }
  }
  .contact {
    .icn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 4px;
      background-color: #3f454c;
      color: #fff;
    }
  }
  .search-icn {
    font-size: 20px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      color: #3f454c;
    }
    i:hover {
      color: #000;
    }
  }
}
.home-banner {
  height: 60vh;

  .content-box {
    position: absolute;
    z-index: 9;
    /* background-color: #28282858;
    backdrop-filter: blur(4px); */
    /* padding: 30px 40px; */
    padding-bottom: 50px;
    border-radius: 10px;
    color: #fff;
    max-width: 60%;
    p {
      font-weight: 500;
      color: #dcdcdc;
    }
  }
}

.home-banner .slide-wraper::after {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  background: -webkit-linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.78) 88%
  );
  background: -moz-linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.78) 88%
  );
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.78) 88%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF", endColorstr="#000000", GradientType=0);
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  height: 10px !important;
  width: 10px !important;
  background-color: #ffffffe0;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #f36c23 !important;
}
.category-slider {
  .swiper-wrapper {
    padding: 20px 0;
  }
  .card {
    padding: 20px;
    background-color: #f6f4f5;
    border-radius: 10px;
    .img-box {
      width: 100%;
      height: 300px;
      position: relative;
      overflow: hidden;
      border-radius: 10px;
    }
  }
  .card:hover {
    transform: translate3d(0, -2px, 0);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .card:hover .img-box img {
    transform: scale(1.05);
  }
  .swiper-button-prev {
    left: 30px;
  }
  .swiper-button-next {
    right: 30px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    background-color: #ffffffad;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    backdrop-filter: blur(2px);
  }
  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    background-color: #f36c23;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 18px;
    color: #f36c23;
  }
  .swiper-button-prev:hover::after,
  .swiper-button-next:hover::after {
    font-size: 20px;
    color: #fff;
  }
}

.prose {
  img {
    width: 100%;
    height: 450px;
    margin: 20px 0;
    border-radius: 6px;
  }
  h2 {
    font-size: 16pt;
  }
  h3 {
    font-size: 14pt;
  }
  h4 {
    font-size: 12pt;
  }
  h2,
  h3,
  h4 {
    font-weight: 700;
    margin: 15px 0;
  }
  h3,
  h4 {
    color: #434343;
  }
  p {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 12pt;
  }
  a span {
    color: #f36c23 !important;
    text-decoration: none !important;
    font-weight: 700 !important;
  }
  a:hover span {
    color: #ff782f !important;
  }
  a {
    color: #f36c23 !important;
    text-decoration: none !important;
    font-weight: 700 !important;
  }
  a:hover {
    color: #ff782f !important;
  }
  ol,
  ul {
    margin-left: 20px;
  }
  ol,
  ol li {
    list-style: decimal !important;
    /* margin-left: 15px; */
  }
  ul,
  ul li {
    list-style: disc !important;
    /* margin-left: 15px; */
  }
  table {
    border: 2px solid black;
    border-spacing: 10px;
    width: 100% !important;
    td,
    th {
      border: 1px solid gray;
      padding: 5px 10px;
      p {
        padding: 0px;
      }
    }
  }
}
.about-home {
  .images {
    .img-big {
      width: 80%;
      height: 540px;
    }
    .img-small-wrapper {
      position: absolute;
      width: 300px;
      height: 300px;
      bottom: -10px;
      right: 0;
      .img-small {
        position: relative;
        width: 100%;
        height: 100%;
      }
    }
  }
  .content {
    padding: 0 20px;
  }
}
.testimonials {
  .slider {
    .swiper-wrapper {
      padding: 30px 0 20px 0;
    }
  }
  .card {
    background-color: #f6f4f5;
    padding: 20px;
  }
  .swiper-button-prev {
    left: 15px;
  }
  .swiper-button-next {
    right: 15px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    background-color: #f36c23b8;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    backdrop-filter: blur(2px);
  }
  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    background-color: #f36c23;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 18px;
    color: #fff;
  }
  .swiper-button-prev:hover::after,
  .swiper-button-next:hover::after {
    color: #fff;
  }
}
.swiper-slide {
  height: 100%;
  display: flex;
}
.blogs-home {
  .card {
    background-color: #f6f4f5;
    padding: 30px;
    border-radius: 5px;
  }
  .card:hover {
    transform: translate3d(0, -2px, 0);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .slider {
    .swiper-wrapper {
      padding: 30px 0 20px 0;
    }
    .swiper-button-prev {
      left: 15px;
    }
    .swiper-button-next {
      right: 15px;
    }
    .swiper-button-prev,
    .swiper-button-next {
      background-color: #f36c23b8;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      backdrop-filter: blur(2px);
    }
    .swiper-button-prev:hover,
    .swiper-button-next:hover {
      background-color: #f36c23;
    }
    .swiper-button-prev::after,
    .swiper-button-next::after {
      font-size: 18px;
      color: #fff;
    }
    .swiper-button-prev:hover::after,
    .swiper-button-next:hover::after {
      color: #fff;
    }
  }
}

.footer {
  background-color: #f6f4f5;
  padding: 30px 0 15px;
  a {
    color: #484848;
  }
  a:hover {
    color: #000;
  }
  li {
    padding-bottom: 10px;
  }
}
.page-banner {
  height: 35vh;
}
.page-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0c0c0da8;
  z-index: 1;
}
.category-banner {
  height: 40vh;
}
.product-grid {
  .card {
    height: 300px;
  }
}
.pg-des {
  margin-bottom: 30px;
  span {
    font-family: "Montserrat", "Montserrat Fallback" !important;
  }
  a,
  a span {
    color: #f36c23 !important;
    text-decoration: none !important;
    font-weight: 700 !important;
  }
  a:hover,
  a:hover span {
    color: #ff782f !important;
  }
  ol,
  ul {
    margin-left: 20px;
  }
  ol,
  ol li {
    list-style: decimal !important;
    /* margin-left: 15px; */
  }
  ul,
  ul li {
    list-style: disc !important;
    /* margin-left: 15px; */
  }
  h2 span,
  h3 span,
  h4 span,
  h5 span,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 600 !important;
  }
  h2,
  h2 span {
    font-size: 25px;
  }
  h3,
  h3 span {
    font-size: 20px;
  }
  h4,
  h4 span {
    font-size: 18px;
  }
  h5,
  h5 span {
    font-size: 16px;
  }
}

.pg-des .wrapper .inner-wrapper {
  padding: 40px 40px 24px;
  border-radius: 15px;
}

.pg-des .prose.collapsed {
  max-height: 400px;
  overflow: hidden;
  position: relative;
}

.read-btn {
  background-color: #f36c23;
  color: #fff;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 20px;
}
.read-btn:hover {
  background-color: #fff;
  color: #f36c23;
}

.pg-des .fade-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: linear-gradient(
    to bottom,
    rgba(235, 237, 240, 0) 0%,
    #ebedf0 100%
  );
  pointer-events: none;
  z-index: 10;
}
.product-details {
  .breadcrum {
    a {
      color: #505050;
    }
    a:hover {
      color: #f36c23;
    }
  }
  /* .swiper-button-prev {
    left: 30px;
  }
  .swiper-button-next {
    right: 30px;
  } */
  .swiper-button-prev,
  .swiper-button-next {
    background-color: #ffffffad;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    backdrop-filter: blur(2px);
  }
  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    background-color: #f36c23;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 18px;
    color: #f36c23;
  }
  .swiper-button-prev:hover::after,
  .swiper-button-next:hover::after {
    font-size: 20px;
    color: #fff;
  }
}

.blog-page {
  .blog-category, .latest-blogs {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #f6f4f5;
  }
  .latest-blogs{
    li:hover{
      transform: translate3d(0, -2px, 0);
    }
    .img{
      height: 65px;
      width: 100px;
    }
    .blog-title{
      width: calc(100% - 110px);
      margin-left: auto;
      font-size: 14px;
      font-weight: 500;
    }
  }
  .breadcrum {
    a {
      color: #505050;
    }
    a:hover {
      color: #f36c23;
    }
  }
  .post-nav {
    cursor: pointer;
    background-color: #5a5c5d;
    color: #fff;
    border-radius: 5px;
    width: 180px;
    padding: 10px;
    font-weight: 600;
  }
  .post-nav:hover {
    background-color: #f36c23;
  }
  .share .icn {
    background-color: #5a5c5d;
    color: #fff;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    font-size: 13px;
    display: flex;
  }
  .share .icn:hover {
    background-color: #f36c23;
  }
}
.contact-page{
  .details{
    li{
      min-height: 100px;
    }
    .icn{
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      background-color: #5a5c5d;
      color: #fff;
    }
    .links{
      width: calc(100% - 40px);
    }
    a, span{
      font-weight: 500;
    }
    a:hover{
      color: #f36c23;
    }
  }
}